*{
    margin: 0px;
    padding: 0px;
}

.container{
    height: 100vh;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;

}

.box{
    background-color: red;
    height: 800px;
    width: 800px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    animation-name: abhi;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

.sun{
    background-color: yellow;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

/* .mer{
    background-color: brown;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transform: translate(50px);
} */



@keyframes abhi{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}